/Roslynator.VisualStudio.vsix
/iTerm2.zip
/omnisharp/Roslynator.VisualStudio
/omnisharp/omnisharp.json
/vscode.zip
/MacVim.dmg
/vscode/workspaceStorage
/vscode/extensions
/dash.zip
/mute-me.zip
/nvALT.app.zip
